In [3]:
### Lec 3

set_a = set(['blue', 'yellow','violet','green'])

In [6]:
set_b = set(['blue', 'yellow','red','green'])

In [7]:
set_a | set_b

{'blue', 'green', 'red', 'violet', 'yellow'}

In [8]:
set_a & set_b

{'blue', 'green', 'yellow'}

In [9]:
set_a - set_b

{'violet'}

In [10]:
set_a^set_b

{'red', 'violet'}

In [15]:
## Time Variables 
from datetime import *
the_datetime = datetime.now()
print(the_datetime)

2019-09-18 18:22:28.092093

In [16]:
## Extract the Year variable 
the_year = the_datetime.year

In [17]:
print(the_year)

2019

In [18]:
# Convert into the String and extract the part of time 
print(the_datetime.strftime("%B"))

September

In [22]:
print(the_datetime.strftime("%A"))

Wednesday

In [21]:
print(the_datetime.strftime("%a"))

Wed

In [25]:
## Most common-used Time format(yymmdd)
print(the_datetime.strftime("%Y-%m-%d"))
print(the_datetime.strftime("%Y%m%d"))

2019-09-18
20190918

In [26]:
print(the_datetime.strftime("%Y%m%d %H:%M:%S"))

20190918 18:22:28

In [60]:
str_date = '20190928 15:54:22'

`datetime.strptime` is the main routine for parsing strings into datetimes. 
-It can handle all sorts of formats, with the format determined by a format string you give it:

In [61]:
## Convert the String variable 
str_date_convert = datetime.strftime(str_date, "%Y%m%d %h:%m:%s")
print(str_date_convert)
print(str_date_convert.year)

TypeError: descriptor 'strftime' requires a 'datetime.date' object but received a 'str'

* `strptime` = "string parse time"
* `strftime` = "string format time"

#### Introduction to Pandas: 
Pandas  is a great library. 
* The data can be mixed types, instead of being of the same type;
* One column will be called label; 
* Not installed in Native Python, but in Anoconda.

In [36]:
import pandas as pd

In [38]:
my_df = pd.DataFrame({'int_a':{1, 2, 3, 4, 5}, 'int_b':[12, 14, 16, 18, 20]})

In [39]:
print(type(my_df))

<class 'pandas.core.frame.DataFrame'>

In [40]:
## Get the look of the head of the data 
my_df.head()

             int_a  int_b
0  {1, 2, 3, 4, 5}     12
1  {1, 2, 3, 4, 5}     14
2  {1, 2, 3, 4, 5}     16
3  {1, 2, 3, 4, 5}     18
4  {1, 2, 3, 4, 5}     20

In [42]:
## Convert the index and print it out 
print(list(my_df.index))

[0, 1, 2, 3, 4]

In [43]:
my_df.head(1)

             int_a  int_b
0  {1, 2, 3, 4, 5}     12

In [45]:
my_df.tail(1)

             int_a  int_b
4  {1, 2, 3, 4, 5}     20

In [50]:
data = pd.read_csv("./IRT_no_t.csv")

In [53]:
data.head(5)

,EPOVL5YYVTDCBPK4N0,1,0,0.1,1.1,1.2,2,2.1,1.3,1.4,...,2.8,1.13,1.14,1.15,2.9,1.16,0.9,0.10,1.17,0.11
0,EPOVL5ZCVL56SG24N0,1.0,1.0,0.0,2,2.0,1.0,4.0,2.0,2.0,...,2,2,2,2,2,2,1,0,1,0
1,EPOVL5Z634YW9484N5,0.0,0.0,1.0,2,NaN,1.0,3.0,2.0,2.0,...,2,2,2,2,2,2,0,0,0,1
2,EPOVL5ZSJ3HSNFC4N5,1.0,1.0,0.0,1,2.0,1.0,2.0,2.0,1.0,...,2,2,2,2,2,2,0,0,0,1
3,EPOVL5YYNLZ2LBN4N8,1.0,0.0,0.0,1,2.0,1.0,2.0,2.0,1.0,...,2,2,2,2,2,2,0,0,0,1
4,EPOVL5Z67ZD4BY84N1,1.0,1.0,0.0,1,2.0,1.0,2.0,2.0,1.0,...,2,2,2,2,2,2,0,0,1,0

##### Must add the 'ignore_index'

In [59]:
data_1 = data.append({'c1':5, 'c2':4, 'c3': 6, 'c4': 4.0}, ignore_index=True)
print(data_1.head(5))

   EPOVL5YYVTDCBPK4N0    1    0  0.1  1.1  1.2    2  2.1  1.3  1.4  ...  2.9  \
0  EPOVL5ZCVL56SG24N0  1.0  1.0  0.0  2.0  2.0  1.0  4.0  2.0  2.0  ...  2.0
1  EPOVL5Z634YW9484N5  0.0  0.0  1.0  2.0  NaN  1.0  3.0  2.0  2.0  ...  2.0
2  EPOVL5ZSJ3HSNFC4N5  1.0  1.0  0.0  1.0  2.0  1.0  2.0  2.0  1.0  ...  2.0
3  EPOVL5YYNLZ2LBN4N8  1.0  0.0  0.0  1.0  2.0  1.0  2.0  2.0  1.0  ...  2.0
4  EPOVL5Z67ZD4BY84N1  1.0  1.0  0.0  1.0  2.0  1.0  2.0  2.0  1.0  ...  2.0

   1.16  0.9  0.10  1.17  0.11  c1  c2  c3  c4
0   2.0  1.0   0.0   1.0   0.0 NaN NaN NaN NaN
1   2.0  0.0   0.0   0.0   1.0 NaN NaN NaN NaN
2   2.0  0.0   0.0   0.0   1.0 NaN NaN NaN NaN
3   2.0  0.0   0.0   0.0   1.0 NaN NaN NaN NaN
4   2.0  0.0   0.0   1.0   0.0 NaN NaN NaN NaN

[5 rows x 53 columns]

In [73]:
# inserting column with static value in data frame 
the_data = pd.concat([data, pd.DataFrame({'c5': [1, 1, 2, 4, 5, 6, 7, 9, 11,33, 12, 12,121, 12]})], axis = 1)
print(the_data.head())

   EPOVL5YYVTDCBPK4N0    1 Team    0  0.1  1.1  1.2    2  2.1  1.3  ...  1.13  \
0  EPOVL5ZCVL56SG24N0  1.0  Any  1.0  0.0    2  2.0  1.0  4.0  2.0  ...     2
1  EPOVL5Z634YW9484N5  0.0  Any  0.0  1.0    2  NaN  1.0  3.0  2.0  ...     2
2  EPOVL5ZSJ3HSNFC4N5  1.0  Any  1.0  0.0    1  2.0  1.0  2.0  2.0  ...     2
3  EPOVL5YYNLZ2LBN4N8  1.0  Any  0.0  0.0    1  2.0  1.0  2.0  2.0  ...     2
4  EPOVL5Z67ZD4BY84N1  1.0  Any  1.0  0.0    1  2.0  1.0  2.0  2.0  ...     2

   1.14  1.15  2.9  1.16  0.9  0.10  1.17  0.11   c5
0     2     2    2     2    1     0     1     0  1.0
1     2     2    2     2    0     0     0     1  1.0
2     2     2    2     2    0     0     0     1  2.0
3     2     2    2     2    0     0     0     1  4.0
4     2     2    2     2    0     0     1     0  5.0

[5 rows x 51 columns]

In [ ]:
data_2 = data.insert(2, "Team", "Any") 
print(data_2)

#### Lambda Function
Lambda expressions (or lambda functions) are essentially blocks of code that can be assigned to variables, passed as an argument, or returned from a function call, in languages that support high-order functions.
* basic function --> lambda function, for iteration

In [78]:
lambda x:x+1
my_lambda = lambda x:x+1

In [79]:
def my_lambda0(x):
    return x + 1

In [84]:
## Example 1: 
x_a = (lambda x: x*x)
the_answer = x_a(2)
print(the_answer)

4

In [85]:
x_b = (lambda x, y: x*y)
the_answer0 = x_b(4, 5)
print(the_answer0)

20

#### Map function

In [100]:
the_data_new = pd.DataFrame(map(lambda x:(x*3), data))

In [101]:
print(the_data_new.head())

                                                   0
0  EPOVL5YYVTDCBPK4N0EPOVL5YYVTDCBPK4N0EPOVL5YYVT...
1                                                111
2                                       TeamTeamTeam
3                                                000
4                                          0.10.10.1

In [102]:
items = [1, 2, 3, 4, 5]

def sqr(x): 
    return x ** 2

list(map(sqr, items))

[1, 4, 9, 16, 25]

In [116]:
items2 = ['1', '2', "3", 4, 5]

def sqr(x): 
    return x * 2

list(map(sqr, items2))

['11', '22', '33', 8, 10]

### Filter and Reduce function

As the name suggests filter extracts each element in the sequence for which the function returns True. The reduce function is a little less obvious in its intent. This function reduces a list to a single value by combining elements via a supplied function.

In [108]:
the_data_filt = pd.DataFrame(filter(lambda x:(x>= 4), items))
print(the_data_filt)

   0
0  4
1  5

In [115]:
from functools import reduce 
the_ar = [1, 2, 3, 4, 5]
the_data_read = reduce(lambda x, y :(x + y), the_ar)
print(the_data_read)

15

* Easy walks through the data to sum

In [152]:
### Add 'r' for the back and fore slash, a trick. 
f = open('./exercise.rtf')

In [153]:
txt_file = f.read()

In [154]:
print(txt_file)

{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 This nlp class is fun and I am off tomorrow and flash flying }

In [155]:
for line in f:
    print(line, end = '')
    print(test)
    
the_read_ar = f.readlines()
print(the_read_ar)
f.close()

[]

--> Goal: building the classifier

### The path set-up and file name list

In [164]:
import os 
the_path = "/Users/Shan/Downloads/NLP/"
the_dirs = os.listdir(the_path)
print(the_dirs)
print(the_path)

['.DS_Store', 'QMSS_NLP_codes', 'hw1', 'QMSS-NLP-syllabus.pdf', 'lecture02.pdf', 'lecture01.pdf', 'conda-cheatsheet.pdf']
/Users/Shan/Downloads/NLP/

In [166]:
## List the files in the subfolder 
the_files = os.listdir(the_path + the_dirs[1])
print(the_files)

['.DS_Store', 'QMSS_lec_code', 'README.md']

In [170]:
## Rename/iterate the file name: classify and label the file  
the_file_names = pd.DataFrame()
for word in the_files: 
    the_file_names  = the_file_names.append({'filename': word, 'label': the_dirs[1]},ignore_index = True)
    
print(the_file_names)

        filename           label
0      .DS_Store  QMSS_NLP_codes
1  QMSS_lec_code  QMSS_NLP_codes
2      README.md  QMSS_NLP_codes

Get all the files' names and classify the text files.